<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <h1>Create a New Post</h1>
        <form id="post-form">
          <div class="form-group">
            <label for="post-title">Enter Title</label>
            <input id="post-title" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="post-content">Start writing...</label>
            <textarea id="post-content" class="form-control"></textarea>
          </div>
          <button id="create-post-btn" class="btn btn-primary">Publish Post</button>
        </form>
      </div>
      <div class="col-md-6 mb-4">
        <h1>Your Posts</h1>
        {{#if userBlogposts.length}}
          <ul class="list-group">
            {{#each userBlogposts}}
              <li class="list-group-item">
                <div class="card">
                  <div class="card-body">
                    <h4 class="post-title">{{blogpost_title}}</h4>
                    <p class="post-content">{{blogpost_content}}</p>
                    <p class="post-author">Authored by:{{user.username}} on {{format_date creation_date}}</p>
                    <a href="/dashboard/edit/{{id}}" class="btn btn-primary">Edit</a>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <h3>You have no Posts!</h3>
        {{/if}}
      </div>
    </div>
  </div>
</main>

<script src="/js/createBlogPost.js"></script>
</body>
</html>

