<div class="blogpost">
  <h2>{{blogpost_title}}</h2>
  <p>By {{author}}</p>
  <p>{{creation_date}}</p>
  <p>{{blogpost_content}}</p>
</div>
{{#if isAuthor}}
  <a href="/edit/{{id}}">Edit</a>
  <button id="delete-blogpost">Delete</button>
  <script src="/js/deleteBlogPost.js"></script>
{{/if}}
<h3>Comments:</h3>
{{> viewComments}}
